# ==========================================
# Entornos Virtuales y Cache de Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

# ==========================================
# Exclusión de Datos Locales (S3 Raw / Delta)
# ==========================================
# Ignorar absolutamente todo el contenido dentro de data/
data/*

# Excepciones: permitir archivos .gitkeep para conservar carpetas vacías en git
!data/**/.gitkeep

# Archivos de base de datos local y deltas temporales
*.db
*.sqlite
*.duckdb
*.parquet
*.csv

# ==========================================
# IDEs y Logs de Ejecución
# ==========================================
.vscode/
.idea/
*.log
.DS_Store